body {
    font-size: 16px;
    color: black;
    background-color: white;
    font-family: 'Fredoka', sans-serif;
  }
  
  #header-nav {
    background-color: #c5c5c3;
    color: black;
    
  }
  
  .navbar-brand {
    padding-top: 10px;
    color: black;
    font-size: 2.5em;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0;
  }
  
  .navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
  }
  
 .navbar-nav {
    margin-top: 10px;
  }
  .nav-item, .nav-item a{ 
    color:black;
    text-align: center;
  }

  h1, h3 {
    margin-top: 10px;
    font-weight: 600;
  }
  
  .row {
    width: 100%;
    background-color: #c5c5c3;
    margin: 40px 5px 5px 5px;
    padding: 5px;
  }
  